# Asynchronous I/O Libraries
aiofiles
aiohttp
asyncio  # Use the latest version compatible with your project

# Web Scraping and Parsing
beautifulsoup4
dnspython
search_engine_parser
googlesearch-python
httpx[http2]

# Audio and Video Processing
ffmpeg-python

# Database and File Management
motor==3.3.2
pymongo==4.6.3

# Telegram Libraries
telethon==1.33.1
py-tgcalls==0.9.7

# Image and QR Code Processing
pillow==9.5.0
qrcode
bing_image_downloader  # Added library for downloading images from Bing
bing-image-urls  # Added library for fetching Bing image URLs

# Video and YouTube Libraries
yt-dlp  # YouTube downloader with additional features
git+https://github.com/alexmercerind/youtube-search-python@main  # YouTube search utility from GitHub
git+https://github.com/joetats/youtube_search@master  # Another YouTube search utility from GitHub

# API Libraries
SafoneAPI==1.0.65
MukeshAPI
gpytranslate
spotipy
git+https://github.com/Vivekkumar-IN/TheApi@main  # Another API wrapper from GitHub
git+https://github.com/TEAMPURVI/PurviAPI  # Purvi API wrapper from GitHub

# Utility Libraries
future==0.18.3
psutil
tgcrypto
unidecode
wget
python-dotenv
pyyaml==6.0.1
speedtest-cli
telegraph

# Git Libraries
gitpython

# Other Libraries
hachoir
pykeyboard
