API_ID=27758016
API_HASH=8d34cfffe27ab461eabbf0091b1a27df
BOT_TOKEN=7940603237:AAGYhlsh6PezOTrZ5hCUqOVi0PqCpN7i3tA
LOG_GROUP_ID=-1002278361416
MONGO_DB_URI=mongodb+srv://marwinalone2002:0PxKXvOj7tByYpoD@cluster0.jmljy.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7224419362
STRING_SESSION=BQGWugsAqvNXM_3IogLYEF5msePC47y3QbMvEbNkPe3YgMIVc6XKZWp1Fna4rMKe4Z5cbkhfUwGRTqxe4pGjHg4sO6WrxIGXm0PxOfP3JUNDZWGy-Q8n4L6mtoTLNkBc2a61eXaAf_D-QT4dpMCxhKqRwl1owQ2DEOIOIq6c9vCHd1-U1fwdcS8xg0YDpK8rTXOo-ku89MTToxxOXPp3lfRASMtWPr75IHPPWh0o7akSJkf6AUIWaZEoMXgub_BNHpF5kcVnVteawcX2TZvp271ahKpb9il8MQs0fEcYlB3z-EDCofA1IL_1ZEwHIoS1B5BydWC09oLS0vBBMhNsYBzgOcwl2AAAAAHVbsrdAA
