API_ID=28231089
API_HASH=bb5c1fc4d8b6c163780820e50ccb8a8a
BOT_TOKEN=7229854636:AAHuONAmzkNPz3o34DVhsCYolFiQpda0rZo
LOGGER_ID=-1002279841047
MONGO_DB_URI=mongodb+srv://marwin0985:BEwJvxaADStDLScc@cluster0.oh0nk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6573727420
STRING_SESSION=BQF8ej8AxQ6fqi2QTQkpkjz06s1JBcSfU4MeNQsNjCxghHUXu5XiCnyVG9nvhZ9kIFsN3MMcYm0YYE-Ms9t9RFGijiCh3RNo1YskRIRTM3_RWaYKKBU0nhkWtvaY_ZBhz1HqzH0TZZFfQQP9brz9Y23ooPky2wLozu3ho5TlfCaOrhR3-_pl47t-R0fqAwa-ePZAeRWzXUKMtw7OUAWx9ineApXLUbJbKK5jBasJrrwgG8i0vP5omLNMCZqLpvSArtrsQ9DcBRINv-bHjpa5ytPG0BKIKRzH9d-LuJ37oGJmnZy7xUNsWw7xr5mQFeUZ7NeehlpYAw4hqvp_xyGrMm3ee2FTbQAAAAHAOtfPAA
